.post
  .tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{:href => '#text', :data => {:toggle => 'tab'}} Text
      %li
        %a{:href => '#preview', :data => {:toggle => 'tab'}} Preview
    .tab-content
      #text.tab-pane.active
        %textarea.markdown-text{:rows => 3, :placeholder => 'Enter markdown text'}
        -#!= s3_uploader_form :id => 'file-upload-form' do
        -#  != hidden_field_tag 'Content-Type', ''
        -#  != file_field_tag :file, :multiple => true
      #preview.tab-pane
        .markdown-preview