.info-box{
  padding: 10px;
  background: #FFF;
  @include border-radius(10px);
  text-align: center;
  .a-link{
    padding: 5px;
  }
  & > img{
    display: block;
    width: 200px;
    max-height: 300px;
  }
  .github_pages_icons a{
    text-decoration: none;
  }
}