.project-page{
  h1{
    font-weight: normal;
    margin: 0;
  }
  .subtitle{
    font-weight: normal;
    color: $grayLight;
    font-size: 16px;
    line-height: 200%;
  }

  .contributors{
    overflow: hidden;
    height: 50px;
  }
  .avatar{
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 5px;
  }

  .page-header{
    position: relative;
  }

  .expanded_info{
    position: absolute;
    top: 0;
    right: 0;
  }

  .tags{
    margin-top: 5px;
  }
}