.project-row{
  $padding: 10px;

  overflow: hidden;
  position: relative;
  padding: $padding 15px;

  border-bottom: 1px solid #ccc;
  @include box-shadow(0 1px white);

  &:last-child{
    border-bottom: none;
    @include box-shadow(none);
  }

  a{
    color: black;
    text-decoration: none;
  }

  .text{
    float: left;
    @include ellipsis;
  }

  .title{
    font-size: 24px;
    line-height: 36px;
  }

  .subtitle{
    font-size: 16px;
    line-height: normal;
    color: #d3d3d3;
    clear: both;
  }

  .last-update{
    position: absolute;
    bottom: 7px;
    right: 17px;
    font-size: 11px;
    color: gray;
  }

  .avatar{
    width: 36px;
    height: 36px;
  }
  .contributors{
    float: right;
  }

  .tags{
    float: left;
    margin-left: 10px;
  }
}