.project-row{
  $padding: 10px;

  overflow: hidden;
  position: relative;
  padding: $padding 15px;

  border-bottom: 1px solid #ccc;
  @include box-shadow(0 1px white);

  &:last-child{
    border-bottom: none;
    @include box-shadow(none);
  }

  a{
    color: $textColor;
    text-decoration: none;
  }

  .title{
    font-size: 24px;
    line-height: 36px;
  }

  .subtitle{
    font-size: 16px;
    line-height: normal;
    color: $grayLight;
  }

  .last-update{
    position: absolute;
    bottom: $padding - 3;
    right: $padding;
    font-size: 11px;
    color: $gray;
  }

  .avatar{
    width: 36px;
    height: 36px;
  }
  .contributors{
    position: absolute;
    right: $padding;
    top: $padding;
  }

  .tags{
    display: inline;
  }
}