.project-page{
  h1{
    font-weight: normal;
    margin: 0;
  }
  .subtitle{
    font-weight: normal;
    color: #d3d3d3;
    font-size: 16px;
    line-height: 200%;
  }

  .page-header{
    position: relative;

    .production-btn-fix {
      margin-right: 8px;
    }
  }

  .expanded_info{
    position: absolute;
    top: 0;
    right: 0;
  }

  .contributors{
    .avatar{
      width: 50px;
    }
  }

  .post {
    clear: both;
  }
}