.project-page{
  h1{
    font-weight: normal;
    margin: 0;
  }
  .subtitle{
    font-weight: normal;
    color: $grayLight;
    font-size: 16px;
    line-height: 200%;
  }

  .page-header{
    position: relative;
  }

  .expanded_info{
    position: absolute;
    top: 0;
    right: 0;
  }

  .contributors{
    .avatar{
      width: 50px;
    }
  }

  .tags{
    margin-top: 5px;
  }

  .post {
    clear: both;
  }
}