#random-idea {
  .project-meta {
    display: none;
  }
  .project-row{
    padding: 0;
  }

  .fa-question-circle {
    vertical-align: middle;
  }

  .fa-random, .fa-spinner {
    width: 14px;
  }

}

.project-row{
  @extend .media;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;

  &:first-child{
    padding-top: 15px;
  }

  &:last-child{
    border-bottom: none;
  }

  .avatar-container{
    @extend .pull-left;
  }

  .project-subtitle {
    margin-bottom: 3px;
  }

  .project-details{
    @extend .media-body;
    position: relative;

    .idea-icon {
      font-size: 22px;
      margin-right: 4px;
    }
  }

  .project-title{
    font-size: 18px;
    font-weight: bold;
  }

  .project-meta{

    .fa {
      @extend .text-muted;
      &.text-primary{
        @extend .text-primary;
      }
    }

    @include not-mobile{
      position: absolute;
      top: 5px;
      right: 0;
    }
  }


  .project-contributors{
    display: inline;
    margin-right: 5px;
  }
  .project-last-updated {
    display: inline;
  }

  .tags{

    top: -3px;
    position: relative;
  }
}
.panel + .pagination{
  margin-top: 0;
}
.half-column{
  @extend .col-xs-12;
  @extend .col-sm-6;
  .project-meta{
    position: relative;
    top: auto;
    right: auto;
  }
}

.user-sync {
  .panel {
    overflow-y: hidden;
    max-height: 700px;
    &:not(.no-transition) { transition: max-height 0.3s ease-in-out; }
  }

  .panel.collapsed {
    max-height: 10px;
  }
}