#random-idea {
  .project-meta {
    display: none;
  }
  .project-row{
    padding: 0;
  }
}

.project-row{
  @extend .media;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;

  &:first-child{
    padding-top: 15px;
  }

  &:last-child{
    border-bottom: none;
  }

  .avatar-container{
    @extend .pull-left;
  }

  .project-details{
    @extend .media-body;
    position: relative;

    .idea-icon {
      font-size: 22px;
      margin-right: 4px;
    }
  }

  .project-title{
    font-size: 18px;
    font-weight: bold;
  }

  .project-meta{

    .fa {
      @extend .text-muted;
      &.text-primary{
        @extend .text-primary;
      }
    }

    @include not-mobile{
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  .project-likes {
    margin-right: 5px;
  }

  .project-contributors{
    display: inline;
    margin-right: 5px;
  }
  .project-last-updated {
    display: inline;
  }

  .tags{

    top: -3px;
    position: relative;
  }
}
.panel + .pagination{
  margin-top: 0;
}
.half-column{
  @extend .col-xs-12;
  @extend .col-sm-6;
  .project-meta{
    position: relative;
    top: auto;
    right: auto;
  }
}

.project-likes{
  display:inline;

  i:hover {
    color: $gray;
  }
}

#random-idea{
  label{
    cursor: pointer;
    @include user-select(none);
    &:hover{
      color: $darker-blue;
    }
  }
}