.root {
  padding: 10% 0;

  .animated-big-logo {
    width: 250px;
    margin: 20px 0;
    position: relative;
    @include animation(balloon 2s ease-in-out alternate infinite);
  }

  h1 {
    font-size: 70px;
    margin-bottom: 5px;
    line-height: 40px;
    color: $dark-blue;
//    text-shadow: 0 1px $darker-blue;
  }

  p {
    color: $gray;
    font-size: 16px;
  }

  .btn-sign-in{
    width: 281px;
    font-size: 16px;
    background: white;
    color: $dark-blue;
    &:hover{
      background-color: #f5f5f5;
    }

  }

}

@include keyframes(balloon) {
   $delta: 20px;
     0% { top: 0 }
   100% { top: $delta; }
}