.root {
  $form-size: 281px;

  padding: 10% 0;

  .animated-big-logo {
    width: 250px;
    margin: 20px 0;
    position: relative;
    @include animation(balloon 2s ease-in-out alternate infinite);
  }

  h1 {
    font-size: 70px;
    margin-bottom: 5px;
    line-height: 40px;
    color: $dark-blue;
//    text-shadow: 0 1px $darker-blue;
  }

  p {
    color: $gray;
    font-size: 16px;

    &.select {
      margin: 0;
    }
  }

  select {
    width: $form-size;
    margin: 0 auto;
  }

  button {
    width: $form-size;
    font-size: 16px;
    background: white;
    color: $dark-blue;
    &:hover{
      background-color: #f5f5f5;
    }

  }

  .text-danger {
    a {
      color: $dark-red;
      text-decoration: underline;
    }
  }

}

@include keyframes(balloon) {
   $delta: 20px;
     0% { top: 0 }
   100% { top: $delta; }
}