.project-image{
  max-height: 274px;
  overflow: hidden;
  @include border-radius(20px);
  img{
    width: 100%;
  }
}

.project-page{
  position: relative;
  hr{
    border-color: $highlight-blue;
  }
  .project-toolbar{
    @include not-mobile{
      position: absolute;
      right: 0;
      top: 16px;
    }
  }
}