.project-image{
  max-height: 274px;
  overflow: hidden;
  @include border-radius(20px);
  img{
    width: 100%;
  }
}

.project-page{
  position: relative;
  padding-bottom: 70px;
  hr{
    border-color: $highlight-blue;
  }
  .project-toolbar{
    z-index: 2;
    @include mobile{
      margin-bottom: 10px;
      text-align: center;
    }
    @include not-mobile{
      position: absolute;
      right: 0;
      top: 16px;
    }
  }
}