.project-image{
  min-height: 100px;
  position: relative;
  max-height: 274px;
  overflow: hidden;
  @include border-radius(20px);
  img {
    border: none;
    width: 100%;
  }
  .upload-image{
    position: absolute;
    top: 10px;
    right: 10px;
    @include opacity(0);
    @include transition(opacity 600ms);
  }
  &:hover{
    .upload-image{
      @include opacity(1);
    }
  }
}

.project-page{
  position: relative;
  padding-bottom: 70px;
  hr{
    border-color: $highlight-blue;
  }
  .project-toolbar{
    z-index: 2;
    @include small-screen{
      margin-bottom: 10px;
      text-align: center;
    }
    @include not-small-screen{
      position: absolute;
      right: 0;
      top: 16px;
    }
  }
}

.project-details {
  dt {
    width: 120px;
  }
  dd {
    margin-left: 140px;
  }
}

.syncing{
  &:before{
    content: '';
    background-color: rgba(white, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  &:after{
    @extend .fa;
    @extend .fa-spin;
    content: '\f110';
    z-index: 101;
    position: absolute;
    left: 50%;
    top: 50%;

    $size: 60px;
    font-size: $size;
    margin-top: -1/2 * $size;
    margin-left: -1/2 * $size;
    color: rgba(0,0,0,0.5);

  }
}
