.logo.zen_balloon {

  $delay0: 50ms;
  $delay1: 250ms;
  $delay2: 600ms;
  $delay3: 700ms;
  $delay4: 950ms;
  $size: 75px;

  width: $size;
  position: absolute;

  &.balloon0 { @include animation-delay($delay0); }
  &.balloon1 { @include animation-delay($delay1); }
  &.balloon2 { @include animation-delay($delay2); }
  &.balloon3 { @include animation-delay($delay3); }
  &.balloon4 { @include animation-delay($delay4); }
}

.zen-group {
  position: absolute;

  -webkit-transition : -webkit-filter 250ms ease-in;

  &.idea {
    top: 190px;
    left: -140px;
    @include scale(1.5);
    -webkit-filter: blur(6px);

    .balloon0 { margin-top: 0px; margin-left: 0px; }
    .balloon1 { margin-top: 70px; margin-left: 55px; }
    .balloon2 { margin-top: 20px; margin-left: 120px; }
    .balloon3 { margin-top: 170px; margin-left: 30px; }
    .balloon4 { margin-top: 140px; margin-left: 150px; }

    &:hover {
      -webkit-filter: blur(0);
    }
  }

  &.wip {
    left: 170px;
    top: 0px;
    -webkit-filter: brightness(0.9) sepia(0.4);

    .balloon0 { margin-top: -20px; margin-left: 20px; }
    .balloon1 { margin-top: 20px; margin-left: 100px; }
    .balloon2 { margin-top: 150px; margin-left: 30px; }
    .balloon3 { margin-top: 100px; margin-left: 80px; }
    .balloon4 { margin-top: 60px; margin-left: -60px; }
  }

  &.sunset {
    top: -100px;
    left: 480px;
    @include scale(0.6);
    -webkit-filter: blur(3px) brightness(0.75) sepia(0.6);

    .balloon0 { margin-top: 0px; margin-left: 0px; }
    .balloon1 { margin-top: 80px; margin-left: 45px; }
    .balloon2 { margin-top: 20px; margin-left: 120px; }
    .balloon3 { margin-top: -80px; margin-left: 30px; }
    .balloon4 { margin-top: 140px; margin-left: 150px; }

    &:hover {
      -webkit-filter: brightness(0.75) sepia(0.6);
    }
  }
}