.post
  .container
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#text', :data => {:toggle => 'tab'}}= t('post.tabs.text')
        %li
          %a{:href => '#preview', :data => {:toggle => 'tab'}}= t('post.tabs.preview')
      .tab-content
        #text.tab-pane.active
          = f.text_area :text, :rows => 3, :placeholder => t('post.placeholder'), :class => 'markdown-text'
          -#!= s3_uploader_form :id => 'file-upload-form' do
          -#  != hidden_field_tag 'Content-Type', ''
          -#  != file_field_tag :file, :multiple => true
        #preview.tab-pane
          .markdown-preview
    - unless project.new_record?
      = render 'components/post/bottom_fields', :f => f