.post
  .container
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#text', :data => {:toggle => 'tab'}} Text
        %li
          %a{:href => '#preview', :data => {:toggle => 'tab'}} Preview
      .tab-content
        #text.tab-pane.active
          = f.text_area :text, :rows => 3, :placeholder => 'Enter markdown text', :class => 'markdown-text'
        #preview.tab-pane
          .markdown-preview