.row
  %h2.col-xs-6.pull-left= title
  %h2.col-xs-6.pull-right.text-right
    %span.collapse-btn.fa.fa-caret-up
.panel.project-list
  - if projects.empty?
    = render 'projects/index/no_projects'
  - else
    - projects.each do |project|
      = render 'projects/index/project_row', :project => project, user_list: user_list

- if projects.respond_to? :current_page
  = will_paginate projects, renderer: BootstrapPagination::Rails
