---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pcreux/pimpmychangelog/contents/CHANGELOG.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 8eb9bc607d0a4a2a97883d193d6a0d06345ed48a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.github.html; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1374756693'
      Last-Modified:
      - Wed, 10 Jul 2013 21:56:55 GMT
      Etag:
      - ! '"367cd0c6427647f4b0e37306f6370e37"'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo, repo:status, delete_repo, site_admin
      X-Github-Media-Type:
      - github.beta; param=html
    body:
      encoding: US-ASCII
      string: ! '<div class="announce instapaper_body md" data-path="CHANGELOG.md"
        id="file"><article class="markdown-body entry-content" itemprop="mainContentOfPage"><h1>

        <a name="changelog" class="anchor" href="#changelog"><span class="octicon
        octicon-link"></span></a>Changelog</h1>


        <h2>

        <a name="version-011" class="anchor" href="#version-011"><span class="octicon
        octicon-link"></span></a>Version 0.1.1</h2>


        <ul>

        <li>Add support for usernames with hyphens. Closes issue <a href="https://github.com/com/pcreux/issues/4">#4</a>
        reported by

        <a href="https://github.com/miketheman">@miketheman</a>.</li>

        </ul><h2>

        <a name="version-010" class="anchor" href="#version-010"><span class="octicon
        octicon-link"></span></a>Version 0.1.0</h2>


        <ul>

        <li>Add support for git repos with HTTPS urls. PR <a href="https://github.com/com/pcreux/issues/3">#3</a>
        by

[...]
[...]
