.row
  .col-xs-12.col-sm-4.pull-right
    = render 'projects/index/quick_idea'
    = render 'projects/index/random_idea', :project => @random_project

  .col-xs-12.col-sm-8
    .panel
      - if @projects.empty?
        = render 'projects/index/no_projects'
      - else
        - @projects.each do |project|
          = render 'projects/index/project_row', :project => project


-#- if @viewing_projects_of
-#  .project-by{:style => 'margin-bottom: 5px; margin-left: 2px;'}
-#    %i.icon-download-alt
-#    %h5{:style => 'display:inline;'}= t('pages.index.viewing_projects_of', :user_name => @viewing_projects_of.name)
