!= javascript_include_tag 'pages/projects/new'

.post
  %textarea.markdown-text{:rows => 3, :placeholder => 'Enter markdown text'}
  %h2 Preview
  .markdown-preview
  != s3_uploader_form :id => 'file-upload-form' do
    != hidden_field_tag 'Content-Type', ''
    != file_field_tag :file, :multiple => true


