.project-page
  = link_to projects_path ,:class => 'back' do
    %i.icon-chevron-left
    %span= t('pages.show.back')

.page-header
  %h1= t('pages.new.title')

= render 'projects/form', :project => @project