.project-page
  .row
    .col-sm-12.col-md-3
      = render 'projects/show/project_sidebar'
    .col-sm-12.col-md-9
      = render 'projects/show/comments'


  -#= render 'projects/show/page_header'
  -#= render 'projects/show/floating_info_box'
