.project-page
  = render 'projects/show/toolbar'
  .row
    .col-sm-12.col-md-3
      = render 'projects/show/project_sidebar'
    .col-sm-12.col-md-9
      = render 'projects/show/comments'

  -#- if has_saved_referer?
  -#  = link_to back_to_index_url do
  -#    %h4
  -#      %i.fa.fa-long-arrow-left
  -#      %span= 'Return back'