.row
  = render 'projects/index/sidebar'

  .col-sm-9
    - if @user_projects.empty?
      %h2= t('.title')
      .panel
        = render 'projects/index/no_projects'
    - else
      - @user_projects.each_slice(2) do |slice|
        .row
          - slice.each do |user_projects|
            .half-column.user-sync
              = render 'projects/index/project_list', title: user_projects[:user].shortname, projects: user_projects[:projects]