.row
  = render 'projects/index/sidebar'

  .col-sm-9
    - if @user_projects.empty?
      %h2= t('projects.index.title.sync.shared')
      .panel
        = render 'projects/index/no_projects'
    - else
      - @user_projects.each_slice(2) do |slice|
        .row
          - slice.each do |user, projects|
            .half-column
              = render 'projects/index/project_list', title: user.shortname, projects: projects