.background {
  @include background-image(image-url('/backgrounds/landing.jpg'));
  background-repeat: no-repeat;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
