.background-wrapper {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  @include user-select(none);

  .select-stopper{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    content: '';
    background: transparent;
    z-index:10;

  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    z-index:1;
  }
}