.btn-danger {
  background-color: $red;
  color: white;

  &:hover {
    background-color: $dark-red;
    color: white;
  }
}

.btn-primary {
  background-color: $blue;
  color: white;
  box-shadow: 0 1px $darker-blue;

  &:hover {
    background-color: $dark-blue;
    color: white;
  }
}

.btn-warning {
  background-color: $yellow;
  color: $gray;
  box-shadow: 0 1px $darker-yellow;

  &:hover {
    background-color: $dark-yellow;
    color: $gray;
  }
}

.btn {
  border: none;
}