.container {

  $border-radius: 20px;
  $container-alpha: 0.75;
  $margin-top: 5px;

  & .full {
    background: rgba(white, $container-alpha);
  }

  @include border-bottom-radius($border-radius);
}
