.uppercase {
  text-transform: uppercase;
}

.hidden-xxs {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.no-collapse {
  .navbar-nav {
    margin: 0;
  }

  .navbar-nav > li, .navbar-nav {
    float: left !important;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }


  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right!important;
  }
}
