.uppercase {
  text-transform: uppercase;
}

.btn-white{
  background: white;
  color: $dark-blue;
  &:hover{
    background-color: #f5f5f5;
    color: $darker-blue;
    box-shadow: none;
  }
  &:active{
    background: #f0f0f0;
  }
}