nav.navbar {
//  @include border-top-radius(0px);
//  @include border-bottom-radius($container-border-radius);
//  border: none;

//  margin-bottom: $container-padding;
//  background-color: $blue;
//  border-bottom: 5px solid $dark-blue;
//  color: white;

//  @include border-bottom-radius(0);

//  @include mobile {
//    margin-bottom: 0;
//  }

  .logo {
    width: 30px;
    @include mobile {
      width: 23px;
    }
    margin-top: -4px;
    margin-right: 2px;
    @include filter(drop-shadow(0 1px rgba($gray, 0.5)))
  }
  .search-query {
    width: 185px;
  }
//
//
//  }
//
//
//  .navbar-brand {
////    color: white;
////    text-shadow: 0 1px rgba($darker-blue, 0.2);
//    font-size: 20px;
//    padding-left: 6px;
//    padding-right: 6px;
//
//    @include mobile {
//      font-size: 17px;
//    }
//  }
//
//  a {
//    color: white;
//
//  }
//
//  li{
//    &.active, a:hover {
//      background-color: $highlight-blue;
//    }
//  }
//


//  .nav-pill s {
//    padding-right: 10px;
//
//    @include mobile {
//      padding-right: 0;
//    }
//  }


}