nav.navbar {
  @include border-top-radius(0px);
  @include border-bottom-radius($container-border-radius);
  border: none;

  .logo {
    width: 13px;
    margin-top: -4px;
    margin-right: 2px;
  }

  .navbar-brand {
    font-size: 20px;
  }
}