header{
  .logo {
    float: left;
    width: 15px;
    padding: 10px 6px 10px;
  }

  .avatar{
    height: 16px;
    width: 16px;
  }

  .navbar-inner {
    padding-right: 0;
    padding-left: 0;
  }
}