nav.navbar {

  .logo {
    width: 30px;
    @include mobile {
      width: 23px;
    }
    margin-top: -4px;
    margin-right: 2px;
    @include filter(drop-shadow(0 1px rgba($gray, 0.5)))
  }

  .search-query {
    padding-left: 26px;
    min-width: 185px;
    @include mobile {
      width: 303px;
    }
  }

  .twitter-typeahead {

    &:before {
      font-family: FontAwesome;
      content: "\f002";
      display: block;
      width: 14px;
      height: 14px;
      opacity: .5;
      position: absolute;
      z-index: 1000;
      top: 5px;
      left: 8px;
    }
  }

}