nav.navbar {

  .logo {
    width: 30px;
    @include mobile {
      width: 23px;
    }
    margin-top: -4px;
    margin-right: 2px;
    @include filter(drop-shadow(0 1px rgba($gray, 0.5)))
  }

  .search-query {
    min-width: 185px;
    @include mobile{
      width: 303px;
    }
  }

}