.btn-danger {
  background-color: #e62536;

  &:hover {

  }
}

.btn-primary {
  background-color: #32a3e0;
  color: white;
}

.btn-warning {
  background-color: #fee219;
  color: #443f38;

}

.btn-success {
  background-color: #abcd27;
}

.btn {
  border: none;
  font-weight: 100;
}