.container {
  margin-bottom: 50px;
  padding: 0 $container-padding $container-padding $container-padding;
  @include border-bottom-radius($container-border-radius);

  &.full {
    background: rgba(white, 0.65);
  }

  @include mobile {
    padding: 0;
  }
}

.dropdown-menu {
  border: none;

  li {
    .dropdown-toggle {
      display: none;
    }

    a {
      font-weight: 100;
    }
  }
}

.well {
  border: none;
  background-color: white;
  border: 1px solid transparent;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  margin-bottom: $container-padding;
}

.panel {
  @include mobile {
    background-color: rgba(white, 0.5);
  }
}

.alert {
  @include mobile {
    margin: 0;
    border-radius: 0;
  }
}
