.container {
  $container-alpha: 0.65;
  $margin-top: 5px;

  margin-bottom: 50px;

  &.full {
    background: rgba(white, $container-alpha);
  }

  @include border-bottom-radius($container-border-radius);
  padding: $container-padding;
  padding-top: 0;

  @include mobile {
    padding: 0;
  }
}

.dropdown-menu {
  border: none;

  li {

    .dropdown-toggle {
      display: none;
    }

    a {
      font-weight: 100;
    }
  }
}

.navbar {
  margin-bottom: $pills-padding;
}

.text-danger {
  color: $red;
}

.well {
  border: none;
  background-color: $white;
  border: 1px solid transparent;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  margin-bottom: $container-padding;
}

.alert {
  @include mobile {
    margin: 0;
    border-radius: 0;
  }
}

.panel {
  @include mobile {
    background-color: rgba($white, 0.5);
  }
}