// colors.
$lighter-gray: #dbddd5;
$light-gray:   #c8cac2;
$gray:         #443f38;
$white:        #ffffff;

$yellow:       #fee219;
$dark-yellow:  #ffc513;

$red:          #e62536;
$dark-red:     #bc2837;

$blue:         #32a3e0;
$dark-blue:    #107fdd;

$green:        #abcd27;
$dark-green:   #7bc436;

// design.
$container-border-radius: 10px;