// colors.
$lighter-gray:  #dbddd5;
$light-gray:    #c8cac2;
$gray:          #443f38;
$white:         #ffffff;

$yellow:        #fdd94b;
$dark-yellow:   #e6c02a;
$darker-yellow: #d19428;

$red:           #e62536;
$dark-red:      #c12837;
$darker-red:    #a52330;

$blue:          #418eff;
$dark-blue:     #3375e3;
$darker-blue:   #245bc2;

// design.
$container-border-radius: 4px;
$pills-padding: 10px;
$container-padding: 15px;
