.centered-container
  = render 'static/zen/zen_group', :klass => 'idea', :projects => Project.idea.last(5)
  = render 'static/zen/zen_group', :klass => 'wip', :projects => Project.wip.last(5)
  = render 'static/zen/zen_group', :klass => 'sunset', :projects => Project.done.last(5)