.like-btn {
  &:hover {
    text-decoration: none;
  }

  .fa {
    margin-right: -5px;
    width: 14px;
  }
}

.user-sync .collapse-btn {
  display: block;
}

.collapse-btn {
  display: none;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    @extend .text-primary;
  }
}