.comments{
  width: 700px;
}
.comment{
  background: white;
  margin: 5px 0;
  border: 1px solid #cacaca;
  .top{
    padding: 5px;
    background: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    .avatar{
      width: 20px;
      height: 20px;
      float: none;
    }
    .who{
      float: left;
    }
    .when{
      float: right;
      font-size: 11px;
    }
  }
  .body{
    padding: 5px;
  }

  pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
}