.comments{
  width: 700px;
}
.comment{
  background: white;
  margin: 5px 0;
  border: 1px solid #cccccc;
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

  &.is_status_update{
    .top{
      background: #CDEBFF;
    }
  }

  .top{
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    padding: 5px;
    background: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    .avatar{
      width: 20px;
      height: 20px;
      float: none;
    }
    .who{
      float: left;
    }
    .when{
      float: right;
      font-size: 11px;
    }
    .actions {
      .action {
        color: #a4a4a4;
        margin-left: 10px;
        float: right;
        line-height: 21px;

        &:hover{
          color: black;
        }
      }
    }
  }
  .body{
    padding: 5px;
    overflow-x: auto;
  }

  pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
}