.page-header {
  .contributors {
    height: 50px;

    .contributor {
      height: 50px;
    }
  }
}

.contributors{
  overflow: hidden;
  height: 40px;
  .contributor{
    height: 40px;
    width: auto;
    float: right;
    margin-left: 5px;
    position: relative;
    &:hover{
      .remove{
        display: block;
      }
    }
    .remove{
      display: none;
      position: absolute;
      top: -10px;
      right: -10px;
      color: white;
      font-size: 1.5em;
      .icon-remove-sign{
        color: $red;
      }

    }
  }
}