.post {

  .markdown-preview {
    border: 1px solid #ccc;
    @include border-radius(4px);
    padding: 5px;
    @include box-sizing(border-box);
    @include min-height(70px);
  }

  textarea {
    @include box-sizing(border-box);
    width: 100%;
  }

  form {
    margin-top: 30px;
  }

}