.tags{
  form &{
    @include inline-block;
    margin-top: 3px;
    a{
      text-decoration: none;
    }
  }
}

.tag{
  @extend .label;
  vertical-align: middle;

  &.new {
    @extend .label-important;
  }
}
