$gray:          #443f38;

$yellow:        #fdd94b;
$dark-yellow:   #e6c02a;
$darker-yellow: #d19428;

$red:           #e62536;
$dark-red:      #c12837;
$darker-red:    #a52330;

$blue:          #418eff;
$dark-blue:     #3375e3;
$darker-blue:   #245bc2;

$container-border-radius: 4px;
$container-padding: 15px;

$mobile-width: 480px;
$font-weight: 100;

// bootstrap variable overrides.
$btn-font-weight: $font-weight;

$grid-gutter-width: $container-padding;

$text-color: $gray;

$brand-primary: $blue   !default;
$brand-warning: $yellow !default;
$brand-danger:  $red    !default;

$state-danger-primary: $blue;
$state-danger-warning: $yellow;
$state-danger-text: $red;