$gray:          #443f38;

$yellow:            #ffeb3b;
$dark-yellow:       #fdd835;
$darker-yellow:     #f9a825;
$lighter-yellow:    #fff59d;
$background-yellow: #fff9c4;

$red:           #e51c23;
$dark-red:      #dd191d;
$darker-red:    #c41411;

$blue:            #03a9f4;
$dark-blue:       #0288d1;
$darker-blue:     #01579b;
$lighter-blue:    #81d4fa;
$background-blue: #b3e5fc;
$highlight-blue:  #29b6f6;

$container-border-radius: 4px;
$container-padding: 15px;

$mobile-width: 480px;
$font-weight: 100;

// bootstrap variable overrides.
$btn-font-weight: $font-weight;

$grid-gutter-width: $container-padding;

$text-color: $gray;

$brand-primary: $blue   !default;
$brand-warning: $yellow !default;
$brand-danger:  $red    !default;
$btn-warning-color: #333;

$state-danger-primary: $blue;
$state-danger-warning: $yellow;
$state-danger-text: $red;


$navbar-border-radius: 0;
$navbar-default-bg: $blue;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $highlight-blue;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $dark-blue;
$navbar-default-toggle-icon-bar-bg: white;

$nav-pills-border-radius: 0;