@media screen and (max-width: 480px) {

  .container, .centered-container {
    width: 100%;
    @include box-sizing(border-box);
  }

  .container {
    margin: 0;
    border-radius: 0px;
    @include box-shadow(none);
    background: white;

    .navbar-search {
      display: none;
    }

    .filter {
      a {
        padding-left: 6px;
        padding-right: 6px;
      }
    }

    .comments {
      width: 100%;
    }


    .project-row {
      .title {
        .text {
          width: 175px;
          @include ellipsis;
        }
      }
    }

    .expanded_info, .info-box {
      display: none;
    }

    .page-header {
      .title {
        .subtitle {
          line-height: 20px;
        }

        .btn-small {
          display: none;
        }
      }
    }

    .tags {
      line-height: 12px;
      display: block;
      margin-bottom: 4px;
    }

    .last-update {
      display: none;
    }

    .control-group {
      .control-label {
        float: none;
        text-align: left;
      }

      .controls {
        margin-left: 0;

        .input-xlarge, .twitter-typeahead, .tt-hint, .tt-query {
          width: 100%;
          @include box-sizing(border-box);
          height: 32px;
        }
      }

      margin-bottom: 5px;
    }
  }

  .centered-container {
    top: 60px;

    .logo {
      width: 80px;
    }

    h1.grand-title {
      font-size: 55px;
    }
  }

  .background-wrapper {
    display: none;

    &.blank {
      display: block;
    }
  }
}