.cloud{:style => 'top: 2%; left: -10%'}
.cloud.flipped{:style => 'top: 83%; left: -12%'}
.cloud.small.flipped{:style => 'top: 46%; left: -5%'}
.cloud.flipped.hidden-xs{:style => 'top: 15%; left: 60%'}
.cloud{:style => 'top: 60%; left: 76%'}
.cloud.flipped.small{:style => 'top: 35%; left: 87%'}
.cloud.small.flipped.hidden-xs{:style => 'top: 83%; left: 59%'}
.cloud.small{:style => 'top: 30%; left: 7%'}
.cloud.small{:style => 'top: 57%; left: 25%'}
.cloud.small.flipped{:style => 'top: 12%; left: 28%'}