%footer{ class_if('headless', headless_page?) }
  %p
    %strong Katalog
    was created by the
    = link_to 'Not Ninjas', 'http://notninjas.com', target: '_blank'
    at the eBay Israel Innovation Center.
    %br
    Feel free to go over the code, suggest new features and fix bugs over on
    = link_to 'https://github.com/TheGiftsProject/katalog', target: '_blank' do
      %i.fa.fa-github
      GitHub
