.comment{ class_if('is_status_update', post.updated?) }
  .top
    .who
      = render 'users/avatar', :user => post.user
      = post.user.nickname
    .actions
      = link_to '', [current_project, post], :method => :delete, :class => 'icon-remove-sign action'
    .when
      - if post.updated?
        %i.icon-star
      %span
        = time_ago_in_words post.created_at
        ago
  .body
    ~ markdown.render(post.text).html_safe