.comments
  - current_project.posts.each do |post|
    - if post.persisted?
      = render 'projects/show/comment', :post => post
  = render 'components/post/add_post', :project => current_project, :post => @post