.comments
  %h2= t('.title')
  .well.well-sm
    - if current_project.posts.count==0
      .lead.text-center.well-lg#be-the-first
        %i.fa.fa-list
        = t('.be_the_first')
    - current_project.posts.each do |post|
      - if post.persisted?
        = render 'projects/show/comment', :post => post
    = render 'projects/show/add_post', :project => current_project, :post => @post