.comments
  - current_project.posts.each do |post|
    - if post.persisted? and ((@show_statuses and post.updated?) or !@show_statuses)
      .comment{ class_if('is_status_update', post.updated?) }
        .top
          .who
            = render 'users/avatar', :user => post.user
            = post.user.nickname
          .when
            - if post.updated?
              %i.icon-star
            %span
              = time_ago_in_words post.created_at
              ago
        .body
          ~ markdown.render(post.text).html_safe
  = render 'components/post/add_post', :project => current_project, :post => @post