.project-toolbar
  - unless current_project.lifted?
    &nbsp;
    = link_to lift_project_path, method: :post, class: 'btn btn-primary' do
      %i.fa.fa-paper-plane
      %span= t('.lift')
  &nbsp;
  = link_to edit_project_path(current_project), class: 'btn btn-default' do
    %i.fa.fa-edit
    = t('.edit')