.project-toolbar
  - unless current_project.lifted?
    = link_to lift_project_path, method: :post, class: 'btn btn-primary' do
      %i.fa.fa-paper-plane
      Lift
  %button.btn.btn-default
    %i.fa.fa-thumbs-o-up
    Like
  = link_to edit_project_path(current_project), class: 'btn btn-default' do
    %i.fa.fa-edit
    Edit