.hero-unit
  %h1 Welcome to Katalog
  %p THE place to share and work on ideas and side-projects
  %p
    = link_to sign_in_path, :class => 'btn btn-large' do
      %i.icon-github
      %span= t('pages.root.sign_in')