.background-wrapper
  .select-stopper
  - if background == 'landing'
    = image_tag("backgrounds/#{background}.jpg", :class => 'background-image')
  - else
    = image_tag("backgrounds/#{background}.png", :class => 'background-image')